.alert_mobile{
    position:absolute;
    width:100%;
    height:100vh;
    background-color: var(--cl-black);
    z-index: 10000000;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
}

.alert_text{
    font-family: 'Rubik Glitch', cursive;
    font-size: var(--ltr-md);
    font-weight: normal;
    text-align: center;
}