@keyframes neonBlueLight{
    0%, 18%, 23%, 48%, 60%, 78%, 84%, 100%{
        text-shadow: 0 0 .1rem var(--cl-blue-light),
                    0 0 .2rem var(--cl-blue-light),
                    0 0 .3rem var(--cl-blue-light),
                    0 0 .4rem var(--cl-blue-light),
                    0 0 .5rem var(--cl-blue-light),
                    0 0 .7rem var(--cl-blue-light),
                    0 0 .10rem var(--cl-blue-light);
    }

    25%,50%,80%{
        text-shadow: none;
    }
}

@keyframes neonPurple{
    0%, 18%, 23%, 48%, 60%, 78%, 84%, 100%{
        text-shadow: 0 0 .1rem var(--cl-purple),
                    0 0 .2rem var(--cl-purple),
                    0 0 .3rem var(--cl-purple),
                    0 0 .4rem var(--cl-purple),
                    0 0 .5rem var(--cl-purple),
                    0 0 .7rem var(--cl-purple),
                    0 0 .10rem var(--cl-purple);
    }

    25%,50%,80%{
        text-shadow: none;
    }
}

@keyframes letterBlueNeon {
    0%, 18%, 23%, 48%, 60%, 78%, 84%, 100%{
        color: var(--cl-white);
        text-shadow: 0 0 .1rem var(--cl-blue),
                    0 0 .2rem var(--cl-blue),
                    0 0 .3rem var(--cl-blue),
                    0 0 .4rem var(--cl-blue),
                    0 0 .5rem var(--cl-blue),
                    0 0 .7rem var(--cl-blue),
                    0 0 .10rem var(--cl-blue);
    }

    25%,50%,80%{
        text-shadow: none;
    }
}

@keyframes boxBlueNeon {
    0%, 18%, 23%, 48%, 60%, 78%, 84%, 100%{
        box-shadow:inset 0 0 .1rem var(--cl-blue),
                   inset 0 0 .2rem var(--cl-blue),
                   inset 0 0 .3rem var(--cl-blue),
                    0 0 .1rem var(--cl-blue),
                    0 0 .2rem var(--cl-blue),
                    0 0 .3rem var(--cl-blue),
                    0 0 .4rem var(--cl-blue),
                    0 0 .5rem var(--cl-blue),
                    0 0 .7rem var(--cl-blue),
                    0 0 .10rem var(--cl-blue);
    }

    25%,50%,80%{
        box-shadow: none;
    }
}

@keyframes letterBlueLightNeon {
    0%, 18%, 23%, 48%, 60%, 78%, 84%, 100%{
        color: var(--cl-white);
        text-shadow: 0 0 .1rem var(--cl-blue-light),
                    0 0 .2rem var(--cl-blue-light),
                    0 0 .3rem var(--cl-blue-light),
                    0 0 .4rem var(--cl-blue-light),
                    0 0 .5rem var(--cl-blue-light),
                    0 0 .7rem var(--cl-blue-light),
                    0 0 .10rem var(--cl-blue-light);
    }

    25%,50%,80%{
        text-shadow: none;
    }
}

@keyframes boxBlueLightNeon {
    0%, 18%, 23%, 48%, 60%, 78%, 84%, 100%{
        box-shadow: 0 0 .1rem var(--cl-blue-light),
                    0 0 .2rem var(--cl-blue-light),
                    0 0 .3rem var(--cl-blue-light),
                    0 0 .4rem var(--cl-blue-light),
                    0 0 .5rem var(--cl-blue-light),
                    0 0 .7rem var(--cl-blue-light),
                    0 0 .10rem var(--cl-blue-light);
    }

    25%,50%,80%{
        box-shadow: none;
    }
}

@keyframes letterPinkNeon {
    0%, 18%, 23%, 48%, 60%, 78%, 84%, 100%{
        text-shadow: 0 0 .1rem var(--cl-pink),
                    0 0 .2rem var(--cl-pink),
                    0 0 .3rem var(--cl-pink),
                    0 0 .4rem var(--cl-pink),
                    0 0 .5rem var(--cl-pink),
                    0 0 .7rem var(--cl-pink),
                    0 0 .10rem var(--cl-pink);
        color: var(--cl-white);
    }

    25%,50%,80%{
        text-shadow: none;
    }
}

@keyframes boxPinkNeon {
    0%, 18%, 23%, 48%, 60%, 78%, 84%, 100%{
        box-shadow: inset 0 0 .1rem var(--cl-pink),
                    inset 0 0 .2rem var(--cl-pink),
                    inset 0 0 .3rem var(--cl-pink),
                    0 0 .1rem var(--cl-pink),
                    0 0 .2rem var(--cl-pink),
                    0 0 .3rem var(--cl-pink),
                    0 0 .4rem var(--cl-pink),
                    0 0 .5rem var(--cl-pink),
                    0 0 .7rem var(--cl-pink),
                    0 0 .10rem var(--cl-pink);
        border-color: var(--cl-white);
    }

    25%,50%,80%{
        box-shadow: none;
    }
}

@keyframes letterPurpleNeon {
    0%, 18%, 23%, 48%, 60%, 78%, 84%, 100%{
        text-shadow: 0 0 .1rem var(--cl-purple),
                    0 0 .2rem var(--cl-purple),
                    0 0 .3rem var(--cl-purple),
                    0 0 .4rem var(--cl-purple),
                    0 0 .5rem var(--cl-purple),
                    0 0 .7rem var(--cl-purple),
                    0 0 .10rem var(--cl-purple);
        color: var(--cl-white);
    }

    25%,50%,80%{
        text-shadow: none;
    }
}

@keyframes boxPurpleNeon {
    0%, 18%, 23%, 48%, 60%, 78%, 84%, 100%{
        box-shadow: inset 0 0 .1rem var(--cl-purple),
                    inset 0 0 .2rem var(--cl-purple),
                    inset 0 0 .3rem var(--cl-purple),
                    0 0 .1rem var(--cl-purple),
                    0 0 .2rem var(--cl-purple),
                    0 0 .3rem var(--cl-purple),
                    0 0 .4rem var(--cl-purple),
                    0 0 .5rem var(--cl-purple),
                    0 0 .7rem var(--cl-purple),
                    0 0 .10rem var(--cl-purple);
        color: var(--cl-white);
    }

    25%,50%,80%{
        box-shadow: none;
    }
}